<div class="grid grid-cols-3 grid-rows-1 w-1/2 m-auto text-center">
    <div>
        <%= link_to 'Yesterday', timers_path(date: @yesterday.to_s(:db)), class: 'text-blue-500 underline' %>
    </div>
    <div>
        <%= link_to 'Today', timers_path(date: @today.to_s(:db)), class: 'text-blue-500 underline' %>
    </div>
    <div>
        <%= link_to 'Tomorrow', timers_path(date: @tomorrow.to_s(:db)), class: 'text-blue-500 underline' %>
    </div>
</div>

<div class="grid grid-cols-1 lg:grid-cols-2">
    <%= render 'timers/new_entry' %>

    <% if @entries.present? %>
    <div id="projects" class="bg-white shadow overflow-hidden sm:rounded-md w-3/5 lg:w-full mx-auto mt-5">
        <h2 class="text-lg text-center text-gray-900">Total: <%= pluralize(@total_duration, 'hour') %></h2>
        <ul>
        <%= render @entries %>
        </ul>
    </div>
    <% else %>
    <div id="projects" class="max-w-7xl mx-auto py-4 px-4 sm:px-6 lg:px-8">
        <p class="text-center text-lg leading-6 italic font-semibold text-gray-400">
        No time has been tracked for this day.
        </p>
    </div>
    <% end %>
</div>
