<%= form_with url: '/admin/reports/', method: "post", local: true do |f| %>
    <%= f.label :report_client_id, class: "block text-sm font-medium leading-5 text-gray-700" %>
    <div class="mt-1 relative rounded-md shadow-sm">
        <%= f.collection_select :report_client_id, @clients, :id, :name, prompt: 'Select Client' %>
    </div>

    <%= f.label :report_start_date, class: "block mt-2 text-sm font-medium leading-5 text-gray-700" %>
    <div class="mt-1 relative rounded-md shadow-sm">
        <%= f.text_field :report_start_date, class: "form-input block w-full sm:text-sm sm:leading-5" %>
    </div>

    <%= f.label :report_end_date, class: "block mt-2 text-sm font-medium leading-5 text-gray-700" %>
    <div class="mt-1 relative rounded-md shadow-sm">
        <%= f.text_field :report_end_date, class: "form-input block w-full sm:text-sm sm:leading-5" %>
    </div>

    <%= f.submit "View report", class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 mt-2 rounded" %>
<% end %>
